.chat {
    flex: 2;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dddddd35;
    border-left: 1px solid #dddddd35;
    height: 100%;

    .top {
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;
        
        .user {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span {
                  font-style: 18px;
                  font-weight: 700;
                }                   

                p {
                  font-size: 15px;
                  font-weight: 300;
                  color: #a5a5ff;
                }
            }
        }
        .icons {
          display: flex;
          gap: 20px;

          img {
            width: 20px;
            height: 20px;
          }
        }
    }
    
    .center {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        gap: 20px;

        .message {
          display: flex;       
          max-width: 70%; 
          min-width: 150px;  
          gap: 20px;
          align-self: self-start;

          .img {
            width: 200px;
            height: 200px;
            border-radius: 0;
            object-fit: cover;
          }

          p {
            padding: 20px;
            border-radius: 20px;
            border-top-left-radius: 0;
            background-color: rgba(17, 25, 40, 0.3);            
          }

          span {
            font-size: 11px;
            color: #e9eaec9a;
          }

          &.own {
            align-self: end;

            .texts {
              p {
                background-color: #5183fe;  
                border-top-right-radius: 0;
                border-top-left-radius: 20px;            
              }

              .img {
                width: 200px;
                height: 200px;
                border-radius: 0;
                object-fit: cover;
              }
            }
          }

          img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
          }

          .texts {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        }
    }

    .center::-webkit-scrollbar {
      width: 5px;
    }

    .bottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        gap: 20px;
        
        
        .icons {
            display: flex;
            gap: 20px;

            img {
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }

          input {
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            border: none;
            outline: none;
            color: #fff;
            padding: 20px;
            border-radius: 10px;
            font-size: 16px;

            &:disabled {
              cursor: not-allowed;
            }
          }

          .emoji {
            position: relative;

            .picker {
                position: absolute;
                left: 0;
                bottom: 50px;
            }
          }

          .send-btn {
            background-color: #5183fe;
            color: #fff;
            padding: 10px 20px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:disabled {
              cursor: not-allowed;
              opacity: 0.4;
            }
          }

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
    }
}







